# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json

# =========================
# C++ / Kompilace a sestavení
# =========================
# Spustitelné soubory a knihovny
*.exe
*.out
*.app
*.ilk
*.tar.gz
*.lib
*.a
*.dll
*.so
*.dylib

# Objektové soubory
*.obj
*.o
*.pch
*.gch

# Debugovací a lokační soubory
*.pdb
*.idb
*.ipdb
*.iobj
*.pgc
*.pgd
*.map

# Výstupní složky překladačů
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/
build/
bin/
obj/

# =========================
# Visual Studio (zbytky / cache)
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Poznámka: Pokud už vůbec nechceš řešit staré .sln a .vcxproj soubory
# a chceš je ignorovat, odkomentuj následující řádky:
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user